html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #f2f2f2;
    font-family: "RobotoDraft", "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 700;
}

p {
    font-size: 12px;
}

.center {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Non-Essential  */

.chard-card {
    height: 24em;
    width: 36em;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.chard-description {
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0 1em 1em 1em;
    text-align: left;
    color: rgb(52, 152, 219);
}

#canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.buttons {
    width: 100%;
    text-align: center;
    margin: auto;
    float: left;
}

.button {
    display: inline-block;
    height: 3em;
    font-size: 0.5em;
    line-height: 2em;
    position: relative;
    background-color: rgb(41, 127, 184);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

select{
    position: absolute;
    right: 1em;
    top:2.2em;
    height: 2em;
}